

<li class="crumb-icon">
    <a href="/">
        <span class="glyphicon glyphicon-home"></span>
    </a>
</li>
<li class="crumb-link">
    <a href="/">Home</a>
</li>
<li class="crumb-trail">@ViewBag.Title</li>
