@model Lidia.Scheduler.UI.Models.ViewModels.JobResultSummaryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobResultSummary</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
